.login-background {
    background: url('../../images/walimaji.jpg') rgba(0,0,0,0.5);
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat !important;

    h1 {
        color: #fff;
       font-family: 'Paytone One', sans-serif;
    }

    p {
        font-size: 16px !important;
        color: #eee;
        font-weight: 400 !important;
    }
}

.login-box-body, .register-box-body {
    background: rgba(255,255,255,0.2) !important;
    padding: 20px;
    border-top: 0;
    color: #000;

    a {
        color: #428bca;
    }
}
