@import "variables";

.form-background {
  background: rgba(0, 0, 0, 0.6) url("../../images/walimaji.jpg") no-repeat fixed center !important;
  background-size: cover !important;
  background-blend-mode: overlay;
}

.form-title {
  position: relative;
}

.transparent-form {
  border-radius: 3px;
  padding: 15px 10px 15px !important;
  width: 100% !important;
  height: auto;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  input {
    padding-left: 10px;
  }
}

@media only screen and (min-width: 500px) {
  #loginBox,
  #signUpBox {
    width: 500px !important;
    height: auto;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 993px) {
  #loginBox,
  #signUpBox {
    width: 500px !important;
    height: auto;
    margin: 0 auto;
  }
}

#loginBox a.forgot,
#signUpBox a.forgot {
  float: right !important
}

#loginBox a.forgot:hover,
#signUpBox a.forgot:hover {
  text-decoration: underline
}
